.gradient-custom-2 {
    /* fallback for old browsers */
    background: #FED99B;

    /* Chrome 10-25, Safari 5.1-6 */
    background: #744b1a;
    background: -webkit-linear-gradient(to right, #E6BF7C, #A98A5D, #8b6215, bisque);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #7e4a24, #663b13, #8d5306, #c7821b);
  }

  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  .gradient-custom-1 {

    background: #E6BF7C;

    background: linear-gradient(326deg, #D3AC68 0%, #A98A5D 74%);
  }
