

<section class="gradient-custom-1" >
  <div class="container">
    <h3>Nuestros helados son todo cremosidad y sabor</h3>
    <p>Los hacemos a diario en nuestro obrador</p>
    <h3>¿Con cuál te quedas?</h3>
    <p>Haz click y descubre nuestros sabores y especialidades!!!</p>
      <div class="sabor">
        <a class="animate-charcter" routerLink="/sabores" ><h2>Sabores</h2>
        </a>
        <br>
        <a class="animate-charcter" routerLink="/especialidades" ><h2>Especialidades</h2></a>
        <br><br>
        <div>
            <img src="https://gioeliacremeria.com/img/homeBox/helados-gioelia.jpg" alt="helado">
        </div>
      </div>
  </div>
</section>


