
<div class="container">
  <div class="container-bis">
    <h2>Nuestros helados son todo cremosidad y sabor</h2>
    <p>Los hacemos a diario en nuestro obrador</p>
    <h2>¿Con cuál te quedas?</h2>
      <div class="sabor">
      <a routerLink="/sabores" class="aside-anchor"><p>Sabores</p></a>
      <a routerLink="/especialidades" class="aside-anchor"><p>Especialidades</p></a>
      <div>

        <img src="https://gioeliacremeria.com/img/homeBox/helados-gioelia.jpg" alt="helado">
      </div>

      </div>
    </div>
  </div>
