

.gradient-custom-1{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content:center;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);}

.container{
  margin:40px;
}
.sabor{
  justify-content:center;
  flex-wrap: wrap;
  padding:14px;
  align-items: center;
  margin-top:20px;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
}

p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(56, 9, 9);
}

.especial{
  justify-content:center;
  flex-wrap: wrap;
  padding:14px;
  align-items: center;
  margin:20px;
  margin-top: 100px;
  align-content: center;
}
img{
  width: 70%;
}


h3{  font-style: oblique;
}
p {
  font-style: oblique;

}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}