<div>
    <ul class="navbar bg-black justify-content-end">
        <li style="list-style: none"class="nav-item"  *ngFor="let item of menuItem"> 
            <a class="link-info" style="text-decoration: none" [routerLink]="[item.url]">
                {{item.label}}
            </a>
            
        </li>

        <li *ngIf="!this.userServices.isLoggedin()" (click)="navRegister()" style="cursor: pointer;">Registro</li>   

        <li *ngIf="!this.userServices.isLoggedin()" (click)="navLogin()" style="cursor: pointer;">Login</li>          
        
        <li *ngIf="this.userServices.isLoggedin()" class="nav-link" (click)="doLogout()" role="button" style="cursor: pointer;">Cerrar sesion</li>        

    </ul>
</div>
