<div>
    <ul >
        <li style="list-style: none" class="nav-item"  *ngFor="let item of menuItem"> 
            <a class="link-info" style="text-decoration: none" [routerLink]="[item.url]">
                {{item.label}}
            </a>
            
        </li>

           

        <li *ngIf="!this.userServices.isLoggedin()" (click)="navLogin()" style="cursor: pointer; list-style: none" class="nav-item" >Login</li> 
        
        <li *ngIf="this.userServices.isLoggedin()" (click)="navPerfil()" style="cursor: pointer; list-style: none" class="nav-item" >Perfil</li>

        <li *ngIf="this.userServices.isLoggedin()" (click)="navCrearHelado()" style="cursor: pointer; list-style: none" class="nav-item" >Crea tu helado</li>
        
        <li *ngIf="this.userServices.isLoggedin()" class="nav-link" (click)="doLogout()" role="button" style="cursor: pointer; list-style: none" class="nav-item">Cerrar sesion</li>        

    </ul>
</div>
