h1{
  font-family: fantasy;
  color:black;
  font-weight:bold;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
  color:rgb(56, 9, 9);
}


.container-xxl{
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  justify-content: center;
}

  .search{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 400%;
    margin: 1rem auto;
    align-content: center;
    padding: 1rem;
    border-radius: 14px;
  }

.search_name{

  color:rgb(16, 16, 17);
  font-weight: 700;
  font-size: large;
}

.card{
  justify-content:center;
  padding:14px;
  align-items: center;
  margin:20px;
  width:500px;
  height:300px;
  border: 0ch;
}
p{
  text-align: justify;
  font-family:cursive;
  color:rgb(56, 9, 9);
}

