h1{
  font-family: fantasy;
  color:black;
  font-weight:bold;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
  color:rgb(56, 9, 9);
}


.gradient-custom-1{
  display: flex;
  flex-wrap: wrap;
  background-color: #E6D2B4;
  justify-content: center;
}

  .search{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 400%;
    margin: 1rem auto;
    align-content: center;
    padding: 1rem;
    border-radius: 14px;
    margin-right: 50px;
  }

.search_name{

  color:rgb(56, 9, 9);
  font-weight: 700;
  font-size: large;
}

.card{
  justify-content:center;
  padding:14px;
  align-items: center;
  margin:20px;
  width:400px;
  height:300px;
  border: 0ch;
}
img{
  width: 100%;
}
p{
  text-align: justify;
  font-family:cursive;
  color:rgb(56, 9, 9);
}
.button-container{
  background-color: #E6D2B4;
  padding: 30px;

}
button{
  float:right;
  width: 100px;
  height: 50px;
  background-color: rgb(56, 9, 9);
  color:#E6D2B4;
  font-weight: 700;
  font-size: 15px;
  margin-right: 50px;
  border-radius: 10px;
}
button:hover{
  background-color: rgba(56, 9, 9, 0.774);
}
.return{
  float:right;
  width: 100px;
  height: 50px;
  background-color: rgb(56, 9, 9);
  color:#E6D2B4;
  font-weight: 700;
  font-size: 15px;
  margin-left: 50px;

}



