

<section class="gradient-custom-1" >
  <h1>Especialidades</h1>
  <div class="search">
    <div class="search_name">
      <label for="searchName">Busca tu especialidad....</label>
      <input type="text"
      class="search_input"
      placeholder="Busca tu especialidad..."
      #txtSearch
      (keyup)="onSearchEspecialidades(txtSearch.value)"/>
    </div>
  </div>

  <div class="card" *ngFor="let especialidades of especialidadesList | filterespecial:page:search">

    <img src="{{especialidades.image}}" alt="{{especialidades.sabor}}">
    <p>{{especialidades.descripcion}}</p>
   </div>


</section>

<div class="button-container">
  <button
  (click)="nextPage()"
  [disabled]="(especialidadesList | filterespecial:page:search).length === 0">
    Siguentes
</button>
  &nbsp;
  <button
  (click)="prevPage()">
  Anteriores
  </button>
</div>



