section{

  background-color:  #E6D2B4;
  max-width: 100%;
  height:60em;

}
.container{
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
  max-width: 100%;
  max-height: 100%
}
.perfil{
  margin-bottom: 100px;
  margin-left: 0;
}
.usuario{
  align-content: center;
  font-weight: 800;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(56, 9, 9);
}
h2{
  align-content: center;
  font-weight: 800;
  font-size:xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(56, 9, 9);
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(56, 9, 9);
}

.card{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding:14px;
  width:100%;
  height:auto;
  border: 0ch;
  background-color:  #E6D2B4;
}
.card-body{
  margin:30px;
}

.card-text{
  margin-left: 40px;
  font-weight: 800;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(56, 9, 9);
}

button{
  float:right;
  width: 70px;
  height: 30px;
  background-color: rgb(56, 9, 9);
  color:#E6D2B4;
  font-weight: 500;
  font-size: 12px;
  margin-right: 50px;
  margin-top: 150px;
  border-radius: 10px;
}
button:hover{
  background-color: rgba(56, 9, 9, 0.774);
}

-----------------------------

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
  background: #000
}

.profile {
  position: relative;
  width: 300px;
  height: 350px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLoYtA9DzfakWtTJYAAvnrj5hZ4i1hNkd10Q&usqp=CAU");
  background-size: cover;
  cursor: pointer;
  border: 12px;
  border-top-right-radius: 35px !important;
  border-radius: 6px;
  opacity: 0.5;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;
  border-top-right-radius: 35px !important;
  border-radius: 6px
}

.profile:hover .overlay {
  opacity: 1
}

.social-icons {
  display: flex;
  list-style: none;
  bottom: 10px;
  position: absolute;
  text-align: center;
  justify-content: center;
  left: 22px
}

.social-icons li {
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  transition: all 1s
}

.social-icons li:hover {
  background: #fff;
  color: #000
}

.overlay .about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column
}