
<section>
  <div class="container">
<div class="perfil">
    <h3 class="usuario">Perfil Usuario</h3>
    <p>Name: {{this.currentUser?.name}}</p>
    <p>Email: {{this.currentUser?.email}}</p>
</div>

<h2>Mis favoritos</h2>
    <div class="card">
        <div *ngFor="let sabor of this.currentUser.sabor">
            <div class="card-body">
                <h3 class="card-text">{{sabor.sabor}}</h3>
                <img src="{{sabor.image}}">
                <button type="button"  (click)="infoHelados();">Detalles</button>
            </div>
        </div>
    </div>
  </div>


<!--<button (click)="saboresUsuario()">Sabores</button> -->

</section>
