<h1>Formulario de registro</h1>

<form [formGroup]="UserForm" (ngSubmit)='createNewUser()' >
    
  
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
  
    <br>
    <br>

    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">

    <br>
    <br>
  
    <label for="password">Password: </label>
    <input id="password" type="text" formControlName="password">

    <br>
    <br>  

    <button type="submit">Registrate</button> 

</form>

